---
import Layout from "@layouts/Layout.astro";
import Orders from "../../components/commandes";
import RequireRole from "@components/RequireRole";
---

<Layout title="Admin - Pins">
  <main class="flex justify-center bg-white px-4 py-6 sm:px-6 sm:py-8">
    <RequireRole allowedRoles={['admin']} client:load>
      <Orders client:load />
    </RequireRole>
  </main>
</Layout>
