---
import Layout from "@layouts/Layout.astro";
import EvenementDetail from "@components/EvenementDetail";

const { id } = Astro.params;
---

<Layout title="Évènement">
  <main class="py-6">">
    <EvenementDetail id={Number(id)} client:load />
  </main>
</Layout>
