# Environnement virtuel
venv/
.env/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de base de données
db.sqlite3
to-do.md 

# Dossiers spécifiques à VS Code / IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db