---
import Layout from "@layouts/Layout.astro";
import RequireAuth from "@components/RequireAuth";
import PasswordForm from "@components/PasswordForm";
---
<Layout title="Password Management">
  <main class="flex flex-1 flex-col items-center justify-center gap-4 px-4 py-6">
    <RequireAuth client:load>
      <PasswordForm client:load />
    </RequireAuth>
  </main>
</Layout>
