@import "tailwindcss";

@tailwind base;

@layer base {
  p {
    @apply text-pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
  img {
    @apply [overflow-clip-margin:unset];
  }
}
@theme {
  --color-mauve: #7E00FE;
  --color-gris: #f0f2f5;
}

@tailwind components;
@tailwind utilities;