/* styles.css */

.gris {
  background-color: #b9b9b9; /* ou rgb(209, 63, 39) */
}

.text-mauve {
  background-color: #a949d5; /* ou rgb(58, 154, 217) */
}

.text-mauve {
  color: #a949d5; /* ton bleu de barre */
}
