---
import ResetPassword from '@components/ResetPassword';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Réinitialisation du mot de passe">
  <main class="container mx-auto px-4 py-6 sm:px-6">
    <ResetPassword client:load />
  </main>
</Layout>
