---
import ChantsListe from '@components/ChantsListe';
import Layout from '@layouts/Layout.astro';

---

<Layout title="Chants">
  <main class="flex justify-center bg-white px-4 py-6 sm:px-6 sm:py-8">
      <ChantsListe client:load />
  </main>
</Layout>
