---
import Mail from "@icons/Mail.astro";
import "./../styles/style.css";
import LogoFPMsUrl from "@images/LogoFPMs.svg?url";

const logoSrc = LogoFPMsUrl.split("?")[0];
const initialMaitres = ["Quentin Guéret", "Kamya Blondiaux"];;

---

<footer class="bleu p-4 text-white" transition:animate="none">
  <div class="container mx-auto flex flex-col gap-4 px-4 py-8 md:grid md:grid-cols-[repeat(3,_1fr)_auto]">
    <div>
      <h4 class="mb-4 mt-0 font-semibold">Maîtres de chants</h4>
      <ul class="flex flex-col gap-2" data-committee-list>
        {initialMaitres.map((member) => (
          <li>{member}</li>
        ))}
      </ul>
    </div>

    <div>
      <h4 class="mb-4 mt-0 font-semibold">© Site développé par</h4>
      <ul class="flex flex-col gap-2">
        <li>Les IGs</li>
        <li>
          <a
            class="inline-flex items-center gap-2 underline duration-150 hover:translate-x-2 hover:opacity-80"
            href="mailto:commission.web.fpms@gmail.com"
          >
            <Mail />
            commission.web.fpms@gmail.com
          </a>
        </li>
      </ul>
    </div>

    <div class="h-[2px] rounded-full bg-white md:hidden"></div>


    <div class="h-[2px] rounded-full bg-white md:hidden"></div>

    <div class="flex items-center md:justify-end">
      <img
        src={logoSrc}
        alt="Logo FPMs"
        class="h-24 w-auto max-w-[180px] md:h-28 md:max-w-[200px]"
      />
    </div>
  </div>
  <script type="module" src="/scripts/footer-maitres.js"></script>
</footer>
