---
import EvenementListe from "@components/EvenementListe";
import Layout from "@layouts/Layout.astro";
---

<Layout title = "Évènements">
  <main class="flex flex-col items-center px-4 py-10 bg-white">
    <h1 class="mb-4 text-3xl fsont-bold text-bordeau">Évènements</h1>
    <p class="mb-8 max-w-2xl text-center text-gray-700">
      Retrouve ici les prochains évènements ainsi que les moments forts passés.
    </p>

    <EvenementListe client:load />
  </main>
</Layout>
