---
import Layout from "@layouts/Layout.astro";
import FavorisPage from "@components/FavorisPage";
---

<Layout title="Mes favoris">
  <main class="flex min-h-screen justify-center bg-white px-4 py-6 sm:px-6 sm:py-8">
      <FavorisPage client:load />
  </main>
</Layout>
