---
import Layout from '@layouts/Layout.astro';
import ResetPasswordForm from '@components/ResetPassword';
---

<Layout title="Réinitialisation du mot de passe">
  <main class="container mx-auto px-4 py-6 sm:px-6">
    <ResetPasswordForm client:load />
  </main>
</Layout>
