---
import Layout from "@layouts/Layout.astro";
import SupportPage from "@components/SupportPage";
---

<Layout title="Support">
  <main class="flex min-h-[70vh] flex-1 items-start justify-center px-4 py-10 sm:px-6">
    <SupportPage client:load />
  </main>
</Layout>
