---
import Layout from "@layouts/Layout.astro";
import AdminChantRequests from "@admincomponents/AdminChantRequests";
---

<Layout title="Admin - Demandes d'utilisateurs">
  <main class="flex min-h-screen justify-center bg-white px-4 py-6 sm:px-6 sm:py-8">
    <AdminChantRequests client:load />
  </main>
</Layout>
