---
import Layout from "@layouts/Layout.astro";
import AdminUsersTable from "@admincomponents/AdminUsersTable";
---
<Layout title="Gestion des utilisateurs">
  <main class="flex flex-1 flex-col items-center justify-center bg-white gap-4 px-4 py-6">
      <h1 class="mb-2 bg-white text-xl font-semibold text-mauve sm:text-2xl">Gestion des utilisateurs</h1>
      <AdminUsersTable client:load />

  </main>
</Layout>
